@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.open {
    animation: slideInRight;
    animation-fill-mode: both;
    animation-duration: 0.5s;
}

.close {
    animation-name: slideOutRight;
    animation-fill-mode: both;
    animation-duration: 0.5s;
}
